name: promote

on:
  push:
    branches-ignore:
      - gh-readonly-queue/**
  merge_group:

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DRY_RUN: ${{ github.ref_name != 'main' && !startsWith(github.ref_name, 'maint/')}}

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    permissions:
      contents: read
      checks: write

  release:
    needs:
      - build
    runs-on: ubuntu-latest
    timeout-minutes: 15

    permissions:
      contents: write
      # packages: write
      issues: write
      id-token: write

    steps:
      # full checkout for semantic-release
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          show-progress: false
          fetch-depth: 0
          filter: blob:none

      - name: Setup pnpm
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0

      - name: Setup node
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install project
        run: pnpm install --frozen-lockfile

      - name: semantic-release
        if: github.event_name == 'push'
        run: pnpm semantic-release --dry-run ${{env.DRY_RUN}} --ci ${{env.DRY_RUN != 'true'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
